<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- VueJs  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Google Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <!-- Font Awesone  -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>

  <!-- Custom CSS  -->
  <link rel="stylesheet" href="css/style.css">

  <title>Vue Todo List</title>
</head>
<body>

  <!-- <div id="app" class="container">

    <div class="logo">
      <img src="img/logo.png" alt="logo">
    </div>

    <div class="new-task">

      <input  placeholder="Nuovo task"type="text">
      <button >Aggiungi</button>
      <p class="error"></p>
    </div>

    <div class="task-container">
      <ul>
        <li>
          <span>task....</span>
          <i class="fa-solid fa-trash-can"></i>
        </li>
        <li>
          <span>task....</span>
          <i class="fa-solid fa-trash-can"></i>
        </li>
        <li>
          <span>task....</span>
          <i class="fa-solid fa-trash-can"></i>
        </li>
        <li>
          <span>task....</span>
          <i class="fa-solid fa-trash-can"></i>
        </li>

      </ul>

    </div>


  </div> -->

  <div id="app" class="container">
<!-- img  -->
    <div class="logo">

      <img src="img/logo.png" alt="logo">

    </div>

    <div class="new-task">

<!-- @keyup.enter="addTodo" fa sì che la funzione addTodo venga chiamata quando l'utente preme il tasto ENTER nell'input. -->

      <input v-model="newTodoText" placeholder="Nuovo task" @keyup.enter="addTodo" type="text">

<!-- tramite @click, la funzione verrà chiamata quando il pulsante viene cliccato. -->

      <button @click="addTodo">Aggiungi</button>

<!-- messaggio errore  -->
      <p class="error">{{ errorMessage }}</p>

    </div>

    <div class="task-container">

      <ul>
<!-- La direttiva v-for itera attraverso l'array todos, assegnando a ogni elemento l'oggetto todo e l'indice index        -->

        <li v-for="(todo, index) in todos" :key="index">

          <span :class="{ 'completed': todo.done }" @click="toggleDone(index)">
            {{ todo.text }}
          </span>

          <i class="fa-solid fa-trash-can" @click="removeTodo(index)"></i>

        </li>

      </ul>

    </div>
<!-- La classe "completed" viene aggiunta dinamicamente al <span> quando todo.done è true, permettendo di sbarrare il testo dei todos completati. L'evento @click="toggleDone(index)" permette di invertire lo stato "done" del todo quando si clicca su di esso. L'icona del cestino viene utilizzata per rimuovere il todo, e l'evento @click="removeTodo(index)" chiama la funzione removeTodo quando l'icona viene cliccata. -->
  </div>


  <script src="js/script.js"></script>
</body>
</html>